# Python 
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw
*.pyzwzwzwzw
*.pyzwzwzwzwzw

# macOS
.DS_Store

# datafiles
*.pt 
*.h5 


# Other
.venv
visualizations/
local/